html {
  box-sizing: border-box;
}

.body {
  background-color: var(--background-color);
  color: var(--primary-text-color);

  @include fonts(Roboto, 700, null, 0.03em);
}

.list {
  list-style: none;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}