.button {
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  cursor: pointer;
  min-width: 216px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--background-button-color-sec);
}